@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-15Thin"), url("fonts/CoreSansC-15Thin.ttf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-15ThinIt"), url("fonts/CoreSansC-15ThinIt.ttf");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-25ExtraLight"), url("fonts/CoreSansC-25ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-25ExtraLightIt"), url("fonts/CoreSansC-25ExtraLightIt.ttf");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-35Light"), url("fonts/CoreSansC-35Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-35LightIt"), url("fonts/CoreSansC-35LightIt.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-45Regular"), url("fonts/CoreSansC-45Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-45RegularIt"), url("fonts/CoreSansC-45RegularIt.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-55Medium"), url("fonts/CoreSansC-55Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-55MediumIt"), url("fonts/CoreSansC-55MediumIt.ttf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-65Bold"), url("fonts/CoreSansC-65Bold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-65BoldIt"), url("fonts/CoreSansC-65BoldIt.ttf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "CoreSansC-75ExtraBold";
  src: local("CoreSansC-75ExtraBold"), url("fonts/CoreSansC-75ExtraBold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-75ExtraBoldIt"), url("fonts/CoreSansC-75ExtraBoldIt.ttf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-85Heavy"), url("fonts/CoreSansC-85Heavy.ttf");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-85Heavylt"), url("fonts/CoreSansC-85HeavyIt.ttf");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-95Black"), url("fonts/CoreSansC-95Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Core Sans C";
  src: local("CoreSansC-95BlackIt"), url("fonts/CoreSansC-95BlackIt.ttf");
  font-style: italic;
  font-weight: 900;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media screen and (max-width: 4000px) {
  .mobile__menu {
    transform: translateX(50vw);
  }
}
@media screen and (max-width: 1440px) {
  .footer__container {
    display: none !important;
  }
  .footer__container-mobile {
    display: flex !important;
  }
}
@media screen and (max-width: 1024px) {
  .tel__number {
    display: none;
  }
  .call__info {
    display: none;
  }
  .tel__icon {
    display: block !important;
  }
  .main__container {
    padding: 0 18px !important;
  }
  .main__container .short__information {
    margin: 0;
  }
  .main__container .mobile__logo {
    display: flex;
    justify-content: flex-end;
    transform: translateX(18px);
    margin-top: 26px;
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: flex-start !important;
  }
  main .main__container {
    flex-direction: column;
  }
  .header__container {
    align-items: center;
  }
  .social__networks {
    display: none !important;
  }
  .desc-nav-a {
    display: none;
  }
  .info {
    margin-left: auto;
    margin-right: 24px;
  }
  .mobile__menu {
    width: 100vw !important;
    transform: translateX(100vw);
  }
  .short__information {
    margin-left: 0px !important;
    display: none !important;
  }
  .slider__info .slider__text p {
    font-size: 26px !important;
    line-height: 31px !important;
    letter-spacing: -0.02em !important;
  }
  .slider {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .btn-choose-apartment {
    margin-top: 32px !important;
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 768px) {
  .buy__apartment {
    margin-top: 30px;
    margin-left: 0px !important;
  }
  .slider__btn-container {
    display: none !important;
  }
  .dop-button-c {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 425px) {
  .social__networks {
    display: none !important;
  }
  .short__information {
    display: none !important;
  }
  .slider__button-container {
    display: none !important;
  }
  .slider__text {
    padding: 0 10px;
  }
  .slider__info .slider__text p {
    font-size: 26px !important;
    line-height: 31px !important;
    letter-spacing: -0.02em !important;
  }
  .slider {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .btn-choose-apartment {
    margin-top: 32px !important;
  }
  .buy__apartment {
    margin-top: 30px;
    margin-left: 0px !important;
  }
}
body {
  height: 100vh;
  background-color: #999;
  display: flex;
  flex-direction: column;
}

.mobile__menu-container {
  padding-left: 80px;
}

.mobile__menu {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.mobile__menu .control__panel {
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  padding: 40px;
  box-sizing: border-box;
}
.mobile__menu .control__panel .close__menu {
  border: 0;
  background-color: transparent;
}
.mobile__menu .mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mobile__menu .mobile-nav a.mobile-nav-a {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 19px;
  color: #171723;
  text-decoration: none;
}
.mobile__menu .call__number {
  margin-top: 50px;
}
.mobile__menu .call__number .info a {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #171723;
  text-decoration: none;
}
.mobile__menu .social__networks-mobile {
  margin-top: 50px;
}
.mobile__menu .social__networks-mobile .sn__container-mobile {
  display: flex;
  gap: 30px;
}
.mobile__menu .social__networks-mobile .sn__container-mobile a {
  width: 50px;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.5);
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
}

.mobile__menu-on {
  transform: translateX(0vw);
}

.video__slider {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.video__slider .blackout-on {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.header__container .info a {
  text-decoration: none;
}
.header__container .info a .tel__number {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  text-decoration: none;
}
.header__container .info a .tel__icon {
  display: none;
}
.header__container .info p {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
}
.header__container nav {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  overflow: hidden;
}
.header__container nav a {
  position: relative;
  top: 0;
  color: #FFFFFF;
  text-decoration: none;
}
.header__container nav a:hover {
  top: -20px;
  transition: all 0.2s ease;
}
.header__container nav a:hover::before {
  content: attr(data-text);
  opacity: 0.5;
  position: absolute;
  top: 20px;
  transition: all 0.2s ease;
}
.header__container .menu__burger {
  color: #fff;
  display: inline;
}
.header__container .menu__burger:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 47px;
  height: 47px;
  left: 40px;
  top: 34px;
  background: radial-gradient(66.89% 66.89% at 59.24% 24.84%, #FEC8C1 0%, rgba(229, 106, 89, 0) 100%), #D13233;
  box-shadow: -6px 8px 8px rgba(0, 0, 0, 0.1);
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
.logo p {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  margin-left: 10px;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.sn__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-left: 40px;
  width: 25px;
}

.social__networks {
  height: 100%;
  display: flex;
  gap: 133px;
  flex-direction: column;
}
.social__networks .sn__logo {
  width: 205px;
  height: 55px;
  background-color: #fff;
  clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.nav__information .list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  list-style-type: none;
}
.nav__information .list li {
  margin-bottom: 10px;
}
.nav__information .list a {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #FFFFFF;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
.nav__information .list a:hover {
  opacity: 1;
  text-decoration-color: #d6d6d6;
}

.hover__card {
  transform: translateY(15px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-top: 23px;
}
.hover__card .thick-text {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.hover__card .grey-text {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
}

.active {
  transform: translateY(0px);
  opacity: 1;
}

.sliders__container {
  width: 581px;
}
.sliders__container .slide {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.sliders__container .slide p {
  margin: 0;
}

.slider__btn-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slider {
  display: flex;
  gap: 30px;
}

.arrow-naw-s {
  border: 0;
  background-color: transparent;
  padding: 11px 16px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.arrow-naw-s:hover {
  box-shadow: 0 0 0 1px #fff;
}

.btn-choose-apartment {
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 7px;
  padding: 20px 23px;
  margin-top: 50px;
  margin-left: 117px;
  transition: all 0.3s ease-in-out;
}
.btn-choose-apartment:hover {
  box-shadow: inset 0 0 0 30px #fff;
  color: #000;
}
.btn-choose-apartment:hover .btn__icon-plus {
  filter: brightness(0);
}
.btn-choose-apartment .btn__icon-plus {
  padding-right: 12px;
}

.buy__apartment {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  margin-left: 30px;
  border: 0;
  background-color: transparent;
  padding: 0;
}
.buy__apartment:hover .ba__arrow {
  margin-left: 15px;
}
.buy__apartment .ba__arrow {
  transition: all 0.2s ease-in-out;
}

.mobile__logo {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 35px 40px 42px 40px;
  align-items: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
footer .footer__label {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
}
footer .btn__f-container {
  padding: 21px 24px;
  border-radius: 7px;
  background-color: transparent;
}
footer .number__rooms {
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 14px;
}
footer .btn-nr {
  padding: 21px 23px;
  margin: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.16);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: #fff;
}
footer .btn-nr:hover {
  background-color: #fff;
  color: #171723;
}
footer .input__block {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 7px;
  padding: 21px 23px;
  color: #fff;
  margin-top: 14px;
  position: relative;
}
footer .input__block .input__container {
  display: flex;
  flex-wrap: nowrap;
}
footer .input__block input.border-input {
  position: absolute;
  width: 250px;
  transform: translateY(18px);
}
footer .input__block .border-input[type=range] {
  -webkit-appearance: none;
  border-radius: 8px;
  height: 3px;
  background-color: #D90002;
}
footer .input__block .border-input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #D90002;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
}
footer .input__block .input-container {
  width: 100px;
  border: 0;
  background-color: transparent;
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
footer .input__block .ib-span {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.4;
}
footer .list-block {
  margin-top: 14px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.16) !important;
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.split {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px -20px 0 0px rgba(255, 255, 255, 0.3), 0 20px 0 0 rgba(255, 255, 255, 0.3);
  margin-right: 15px;
}

.filter__container {
  display: flex;
  flex-direction: column;
}

.btn-red {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #D90002 !important;
  border: 0;
}

.btn-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px 23px !important;
}

.btn-inside-text {
  margin: 0;
  text-align: left;
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130.3%;
  color: #FFFFFF;
}

.inside-icon {
  margin-right: 15px;
}

.footer__container-mobile {
  display: none;
  width: 100%;
}

.footer-search:focus-visible {
  outline: 0;
}

.footer-search::placeholder {
  color: #fff;
}

.footer-search {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.serch-label-f {
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
